*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  position: relative;
}
.gallary{
  display: flex;
  flex-direction: column;
}
.row{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.col{
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.image{
  width: 49%;
  height: 33%;
  margin: 10px;
}
.image img{
  width: 100%;
  height: auto;
  cursor:zoom-in;
}

.preview-image{
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 10%;
  left: 20%;
  bottom: auto;
  right: 20%;
  display: none;
  cursor: zoom-out;
  z-index: 999;

}
  @media all and ((min-width:481px) and (max-width: 768px)) {
    .row{
     width: 100%;
     height: auto;
     flex-direction: column;
    }
    .col{
      width: 100%;
      height: auto;
    }
    .preview-image{
      max-width: 90%;
      max-height: 90%;
      top: 50px;
      left: 25px;
      display: none;
    }
   
  }
  
  @media all and ( (min-width:0px) and (max-width: 480px) ){
    .row{
      flex-direction: column;
      width: 100%;
    }
   .col{
    width: 100%;
    flex-direction: column;
   }
   .image{
    width: 100%;
    height: auto;
    margin: 0;
   }
  }
  
